@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
button {
  border: none;
  outline: none;
}

#sale {
  background-color: #7AC751;
}

.aside {
  width: 570px;
  height: 249px;
  padding: 28px 0 29px 24px;
}

.offer--modern {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #555;
}

.offer--hot {
  width: 227px;
  height: 38px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #757575;
  margin: 11px 0 20px 0;
}

.offer--get {
  width: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.offer--get .getR--price {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #7AC751;
}

.offer--get .getD--price {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.005em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #CCCCCC;
}

.offer--get .get--shop {
  width: 91px;
  height: 26px;
  background: #7AC751;
  border-radius: 2px;
  border: none;
  outline: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.get--deadline {
  width: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.get--deadline .span--container {
  width: 40px;
  height: 40px;
  background: #7AC751;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.get--deadline .span--container .num {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.get--deadline .span--container .letter {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 6px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.chair--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chair--price span {
  margin-left: 7px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.005em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #CCCCCC;
}

.hover--icon {
  position: relative;
  bottom: 10px;
}

.hover--icon img {
  width: 38.85px;
  height: 38.89px;
  background-color: #fff;
  border-radius: 50%;
  padding: 9.72px 9.71px;
  cursor: pointer;
}

.hover--icon img:not(:first-child) {
  margin-bottom: 8.72px;
  position: relative;
}

.Gchair--type {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #11142D;
  margin-bottom: 8px;
}

.Gchair--discounted_price {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #7AC751;
}

.scrollUp {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7ac751;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 80%;
  right: 2%;
  cursor: pointer;
  opacity: 0;
}

.scrollUp.active {
  opacity: 1;
}

.chair--group {
  width: 100% !important;
}

.chair--group .top--chair {
  width: 20% !important;
}

#right--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 16.01px;
  text-align: center;
  margin-left: 10px;
}

input {
  outline: none;
  border: none;
}

#comment1.slide {
  display: block;
}

#comment2 {
  display: none;
}

#comment2.slide {
  display: block;
}

#comment3 {
  display: none;
}

#comment3.slide {
  display: block;
}

@media screen and (max-width: 1273px) {
  .top--chair .chair--img_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .top--chair .chair--img_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top--chair .chair--img_container .main--img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 1263px) {
  .top--chair .chair--img_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top--chair .chair--img_container #hoverImg {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Rubik', sans-serif;
}

button {
  cursor: pointer;
}

body {
  scroll-behavior: smooth;
  background-color: #e5e5e5;
}

.wrapper .header {
  width: 100%;
}

.wrapper .header .header--nav {
  height: 50px;
  width: 100%;
  background-color: #7AC751;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .header--nav .nav--title {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.wrapper .header .header--nav .nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .header .header--nav .nav--list #currency {
  margin-right: 20px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  background-color: #7AC751;
}

.wrapper .header .header--nav .nav--list #currency #state {
  border: none;
  outline: none;
  border: 1px solid transparent !important;
}

.wrapper .header .header--nav .nav--list #link {
  color: #fff;
  font-size: 16px;
  position: relative;
}

.wrapper .header .header--nav .nav--list #link::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -10%;
  width: 2px;
  height: 20px;
  background-color: #fff;
}

.wrapper .header .header--nav .nav--list #link:hover {
  color: #2d2dda;
}

.wrapper .header .middle--bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 21px 0 25px 0;
}

.wrapper .header .middle--bar .middle--bar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .middle--bar .middle--bar_logo .logo--title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #555555;
  margin-left: 5.21px;
}

.wrapper .header .middle--bar .middle--bar_search {
  width: 582px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 1px solid #7AC751;
  border-radius: 8px;
}

.wrapper .header .middle--bar .middle--bar_search .middle--bar-search_input {
  width: 70%;
}

.wrapper .header .middle--bar .middle--bar_search .middle--bar-search_input input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-left: 25px;
  border-right: 1.5px solid #cccccc;
}

.wrapper .header .middle--bar .middle--bar_search .middle--bar-search_input input::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #B0B0B0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.wrapper .header .middle--bar .middle--bar_search .middle--bar-search_input input:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #B0B0B0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.wrapper .header .middle--bar .middle--bar_search .middle--bar-search_input input::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #B0B0B0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.wrapper .header .middle--bar .middle--bar_search .middle--bar-search_input input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #B0B0B0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .middle--bar .middle--bar_search .middle--bar-search_categories {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .middle--bar .middle--bar_search .middle--bar-search_categories select {
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
  outline: none;
}

.wrapper .header .middle--bar .middle--bar_search #category--search {
  width: 10.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7AC751;
  cursor: pointer;
}

.wrapper .header .middle--bar .middle--bar_search #category--search #searcher {
  cursor: pointer;
}

.wrapper .header .middle--bar .middle--bar_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .middle--bar .middle--bar_icons a {
  position: relative;
}

.wrapper .header .middle--bar .middle--bar_icons a:not(:last-child) {
  margin-right: 25px;
}

.wrapper .header .middle--bar .middle--bar_icons a .addNum {
  position: absolute;
  top: -4px;
  right: -5px;
  color: #fff;
  background-color: #7AC751;
  padding: 2px 4px 3px 4px;
  border-radius: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
}

.wrapper .header .navbar {
  width: 100%;
  background: #F7F8FA;
}

.wrapper .header .navbar--row {
  padding: 0 10%;
}

.wrapper .header .navbar--row .navbar--container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .navbar--row .navbar--container .menu .menu--collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 260px;
  background-color: #7AC751;
  padding: 22px 40px 21px 30px;
}

.wrapper .header .navbar--row .navbar--container .menu .menu--collections #hamburger {
  cursor: pointer;
  color: #7AC751 !important;
}

.wrapper .header .navbar--row .navbar--container .menu .menu--collections a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-left: 23px;
}

.wrapper .header .navbar--row .navbar--container .menu ul {
  margin-left: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .header .navbar--row .navbar--container .menu ul li:not(:first-child) {
  margin-left: 65px;
}

.wrapper .header .navbar--row .navbar--container .menu ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}

.wrapper .header .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 10%;
}

.wrapper .header .banner #bannerList {
  min-width: 260px;
  background-color: #F7F8FA;
}

.wrapper .header .banner #bannerList.active {
  display: none;
}

.wrapper .header .banner #bannerList li {
  padding: 10px 0 15px 30px;
}

.wrapper .header .banner #bannerList li:not(:last-child) {
  border-bottom: 1px solid #E3E3E3;
}

.wrapper .header .banner #bannerList li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: #555555;
}

.wrapper .header .banner--slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 899px;
  background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) 0.89%, #F1FAFF 101.61%);
  -webkit-backdrop-filter: blur(155px);
          backdrop-filter: blur(155px);
  border-radius: 1px;
  margin: 12px 0 0 11px;
}

.wrapper .header .banner--slider.margin {
  margin: 0;
}

.wrapper .header .banner--slider_content {
  padding: 73px 0 0 47px;
}

.wrapper .header .banner--slider_content h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #7AC751;
}

.wrapper .header .banner--slider_content h1 {
  width: 318px;
  height: 94px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #2F2F2F;
  margin: 6px 0 29px 0;
  position: relative;
}

.wrapper .header .banner--slider_content h1 span::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 178.5px;
  height: 6px;
  background: url(../img/header/green--layer.svg);
}

.wrapper .header .banner--slider_content h2 {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 26px;
  color: rgba(81, 81, 81, 0.71);
  margin-bottom: 35px;
}

.wrapper .header .banner--slider_content button {
  width: 129px;
  height: 40px;
  background: #7AC751;
  border-radius: 5px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.wrapper .header .banner--slider-furniture img {
  margin: 36px 0 29px 16px;
}

.wrapper .header .banner--slider-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 39px;
}

.wrapper .header .banner--slider-cards .banner--slider-card {
  width: 98px;
  height: 91.47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.56)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  margin: 25px 0;
}

.wrapper .header .banner--slider-cards .banner--slider-card img {
  position: relative;
  top: 10px;
}

.wrapper .header .banner--slider-cards .banner--slider-card span {
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 26px;
  color: #7AC751;
  position: relative;
  top: 5px;
}

.wrapper .header .banner--slider-cards .banner--slider-card p {
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 26px;
  color: #555555;
  position: relative;
  bottom: 5px;
}

.wrapper .container {
  width: 80%;
  margin: 0 auto;
}

.wrapper .container .services {
  margin: 70px 0 50px 0;
}

.wrapper .container .services .service--options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .services .service--options .free--shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .services .service--options .free--shipping .shipping--content {
  margin-left: 15px;
}

.wrapper .container .services .service--options .free--shipping .shipping--content .shipping--title {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #555;
}

.wrapper .container .services .service--options .free--shipping .shipping--content .shipping--text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: rgba(81, 81, 81, 0.71);
}

.wrapper .container .services .service--choices {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.wrapper .container .services .service--choices .choice--modern {
  width: 55%;
  height: 511px;
  background-image: url(../img/section1/modernFurniture.png);
  padding: 49px 0 0 31px;
}

.wrapper .container .services .service--choices .choice--modern .modern--title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #555;
}

.wrapper .container .services .service--choices .choice--modern .modern--paragraph {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #7AC751;
  padding: 10px 0 14px 0;
}

.wrapper .container .services .service--choices .choice--modern .modern--link {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
}

.wrapper .container .services .service--choices .choice--modern .modern--link .readMore {
  margin-left: 2.96px;
}

.wrapper .container .services .service--choices .choices--affordable {
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .container .services .service--choices .choices--affordable .affordable--bookcase {
  width: 100%;
  height: 247px;
  background-image: url(../img/section1/bookcase.png);
  padding: 52px 0 0 24px;
}

.wrapper .container .services .service--choices .choices--affordable .affordable--bookcase .modern--title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #555;
}

.wrapper .container .services .service--choices .choices--affordable .affordable--bookcase .modern--paragraph {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #7AC751;
  margin: 8px 0;
}

.wrapper .container .services .service--choices .choices--affordable .affordable--bookcase .modern--link {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
}

.wrapper .container .services .service--choices .choices--affordable .affordable--bookcase .modern--link .readMore {
  margin-left: 2.96px;
}

.wrapper .container .services .service--choices .choices--affordable .affordable--sofa {
  width: 100%;
  height: 247px;
  background-image: url("../img/section1/minimalSofa.png");
  padding: 52px 0 0 24px;
}

.wrapper .container .services .service--choices .choices--affordable .affordable--sofa .modern--title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #555;
}

.wrapper .container .services .service--choices .choices--affordable .affordable--sofa .modern--paragraph {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #7AC751;
  margin: 8px 0;
}

.wrapper .container .services .service--choices .choices--affordable .affordable--sofa .modern--link {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #757575;
}

.wrapper .container .services .service--choices .choices--affordable .affordable--sofa .modern--link .readMore {
  margin-left: 2.96px;
}

.wrapper .container .trending--main_title {
  text-align: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #555;
  margin: 120px 0 45px 0;
}

.wrapper .container .trending--product_ranks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 73px;
}

.wrapper .container .trending--product_ranks .ranked--product_types {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #c2c2c2;
  cursor: pointer;
}

.wrapper .container .trending--product_ranks .ranked--product_types:nth-child(2) {
  margin: 0 70px;
}

.wrapper .container .trending--chair_group .chair--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 20px;
  margin-bottom: 50px;
}

.wrapper .container .trending--chair_group .chair--group:first-child {
  margin-bottom: 45px;
}

.wrapper .container .trending--chair_group .chair--group .top--chair {
  width: 20%;
  height: auto;
  position: relative;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--img_container {
  width: 210.03px;
  height: 287.82px;
  position: relative;
  background-position: center;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--img_container:hover > .hover--images {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--img_container:hover > .hover--images img:hover {
  background-color: #7ac751;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--img_container .hover--images {
  position: absolute;
  top: -10px;
  right: -40px;
  z-index: 3;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50.85px;
  height: 181.83px;
  padding-top: 91.4px;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--img_container .hover--images #heart {
  margin-bottom: 8.75px;
  width: 38.85px;
  height: 38.89px;
  padding: 10.54px 9.48px 10.14px 9.48px;
  -webkit-box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--img_container .hover--images #bag {
  margin-bottom: 8.75px;
  width: 38.85px;
  height: 38.89px;
  padding: 9.72px 9.71px;
  -webkit-box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--img_container .hover--images #refresh {
  margin-bottom: 8.75px;
  width: 38.85px;
  height: 38.89px;
  padding: 6.4px 6.24px 6.43px 6.06px;
  -webkit-box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--img_container .hover--images #watcher {
  width: 38.85px;
  height: 38.89px;
  padding: 11.87px 9.71px;
  -webkit-box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--img_container .main--img {
  position: relative;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  cursor: pointer;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--img_container .main--img:hover {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--img_container button {
  position: absolute;
  top: 0;
  left: 0;
  width: 44.68px;
  height: 20.42px;
  background: #00b7f1;
  border-radius: 0px 0px 5px 0px;
  border: none;
  outline: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.008em;
  color: #ffffff;
  z-index: 3;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--title {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.008em;
  text-transform: uppercase;
  color: rgba(117, 117, 117, 0.71);
  margin: 15.18px 0 9px 0;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--type {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #555;
  margin-bottom: 8px;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--info .chair--discounted_price {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #7AC751;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--info .chair--discounted_price .chair--real_price {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.005em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #cccccc;
  margin-left: 7px;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--info .chair--rating #rating--stars {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.wrapper .container .trending--chair_group .chair--group .top--chair .chair--info .chair--rating img {
  cursor: pointer;
  width: 10px;
  height: 10px;
}

.wrapper .container .trending--chair_group .slider--container {
  margin: 58px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.wrapper .container .trending--chair_group .slider--container .circled--slider:not(:first-child) {
  margin-left: 14px;
}

.wrapper .container .offer .offer--main_title {
  text-align: center;
  margin-bottom: 30px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  color: #555;
}

.wrapper .container .offer .offer--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 120px;
}

.wrapper .container .offer .offer--container > .offer--container-right {
  margin-left: 30px;
}

.wrapper .container .offer .offer--container .offer--container-left {
  position: relative;
  background-image: url(../img/section3/living--room_countdown.png);
}

.wrapper .container .offer .offer--container .offer--container-left .offer--discount {
  width: 64px;
  height: 23px;
  background: #00b7f1;
  border-radius: 0px 0px 0px 5px;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}

.wrapper .container .offer .offer--container .offer--container-right {
  position: relative;
  background-image: url(../img/section3/modern--chair_countdown.png);
}

.wrapper .container .offer .offer--container .offer--container-right .offer--discount {
  width: 64px;
  height: 23px;
  background: #00b7f1;
  border-radius: 0px 0px 0px 5px;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}

.wrapper .container .product .product--title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #555555;
  text-align: center;
}

.wrapper .container .product .product--sections {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0 73px 0;
}

.wrapper .container .product .product--sections p {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #c2c2c2;
  cursor: pointer;
}

.wrapper .container .product .product--sections p:not(:first-child) {
  margin-left: 66px;
}

.wrapper .container .product .trending--chair_group .change--pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 70px 0 120px 0;
}

.wrapper .container .product .trending--chair_group .change--pages .next--page {
  width: 141px;
  height: 44px;
  background-color: #7AC751;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 20px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  margin-right: 143px;
}

.wrapper .container .product .trending--chair_group .change--pages .next--page #right--arrow {
  width: 20px;
  height: 20px;
}

.wrapper .container .product .trending--chair_group .change--pages .change--page_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .product .trending--chair_group .change--pages .change--page_num .num--page {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.008em;
  color: #757575;
}

.wrapper .container .product .trending--chair_group .change--pages .change--page_num #num--one {
  width: 58px;
  height: 29px;
  background: #F8FAFB;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  margin: 0 19px 0 9px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.008em;
  color: #757575;
}

.wrapper .container .product .trending--chair_group .change--pages .change--page_num .allPage {
  width: 55px;
  height: 23px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.008em;
  color: #757575;
  margin-right: 23px;
}

.wrapper .container .product .trending--chair_group .change--pages .change--page_num .changing--arrows {
  cursor: pointer;
  width: 58px;
  height: 29px;
  background: #7AC751;
  border-radius: 2px;
}

.wrapper .container .customer {
  margin-bottom: 115px;
}

.wrapper .container .customer .customer--title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 90px;
}

.wrapper .container .customer .customer--comment_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .customer .customer--comment_container #comment--left_arrow {
  font-size: 36px;
  cursor: pointer;
}

.wrapper .container .customer .customer--comment_container .comment--container {
  width: 816px;
  height: 312px;
  background: #F8FAFB;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .customer .customer--comment_container .comment--container img {
  position: relative;
  top: -44px;
  width: 88px;
  height: 88px;
}

.wrapper .container .customer .customer--comment_container .comment--container p {
  width: 566px;
  height: 96px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #515151;
}

.wrapper .container .customer .customer--comment_container .comment--container h3 {
  margin: 32px 0 8px 0;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #555555;
}

.wrapper .container .customer .customer--comment_container .comment--container h4 {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.005em;
  color: #515151;
}

.wrapper .container .customer .customer--comment_container #comment--right_arrow {
  font-size: 36px;
  cursor: pointer;
}

.wrapper .container .lastest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 115px;
}

.wrapper .container .lastest h2 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 700;
  color: #555555;
  text-align: center;
  margin-bottom: 56px;
}

.wrapper .container .lastest .lastest--first_couple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 26.25px;
  margin-bottom: 22px;
}

.wrapper .container .lastest .lastest--first_couple .first--article {
  border-radius: 8px;
  padding: 252.47px 0 30.35px 44px;
  width: 539.75px;
  height: 455.28px;
  background-image: url(../img/section6/minimalSofa.png);
}

.wrapper .container .lastest .lastest--first_couple .first--article .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .container .lastest .lastest--first_couple .first--article .date button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 99.6px;
  height: 23.96px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.008em;
  text-transform: uppercase;
  color: #7AC751;
  background: #F8FAFB;
  border-radius: 3px;
}

.wrapper .container .lastest .lastest--first_couple .first--article .date button img {
  padding: 5.32px 0.33px 0 8.22px;
  position: relative;
  bottom: 3px;
}

.wrapper .container .lastest .lastest--first_couple .first--article .date span {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.008em;
  color: #FFFFFF;
  margin-left: 5px;
}

.wrapper .container .lastest .lastest--first_couple .first--article .latest--title {
  margin: 25px 0 37px 0;
  width: 460.1px;
  height: 75.88px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.wrapper .container .lastest .lastest--first_couple .first--article .readMore {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.008em;
  color: #FFFFFF;
}

.wrapper .container .lastest .lastest--first_couple .second--article {
  border-radius: 8px;
  background-image: url(../img/section6/computerTable.png);
}

.wrapper .container .lastest .lastest--first_couple .third--article {
  background-image: url(../img/section6/modernBench.png);
}

.wrapper .container .lastest .lastest--first_couple .last--article {
  background-image: url(../img/section6/summerOutfit.png);
}

.wrapper .footer .footer--list_container {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 51px;
}

.wrapper .footer .footer--list_container .logo--info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #555555;
}

.wrapper .footer .footer--list_container .logo--info span img {
  margin: 0 5.21px 0 0;
}

.wrapper .footer .footer--list_container .logo--info .logo--text {
  width: 318px;
  height: 96px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #555555;
  margin-top: 18px;
}

.wrapper .footer .footer--list_container .logo--info .footer--icons {
  margin-top: 8px;
  width: 173.8px;
  height: 32.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .footer .footer--list_container .logo--info .footer--icons #icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32.2px;
  height: 32.2px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.wrapper .footer .footer--list_container ul li:not(:first-child) {
  margin-top: 20px;
}

.wrapper .footer .footer--list_container ul li a {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #555555;
}

.wrapper .footer .footer--list_container ul li a:focus {
  font-weight: 500;
}

.wrapper .footer .sub--footer {
  border-top: 1px solid #969696;
}

.wrapper .footer .sub--footer .sub--footer_items {
  padding: 33px 10% 34.78px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .footer .sub--footer .sub--footer_items .sub--footer_date {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #555555;
}

.wrapper .footer .sub--footer .sub--footer_items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .footer .sub--footer .sub--footer_items ul li:not(:last-child) {
  margin-right: 51px;
}

.wrapper .footer .sub--footer .sub--footer_items ul li a {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #555555;
}
/*# sourceMappingURL=style.css.map */