@media screen and (max-width: 1273px) {
    .top--chair{
        .chair--img_container{
            display: flex;
            flex-direction: column;

        }
    }
}

@media screen and (max-width: 1000px) {
    .top--chair{
        .chair--img_container{
            display: flex;
            flex-direction: column;
                .main--img{
                    display: flex;
                    flex-direction: column;
                }
                
        }
    }
}

@media screen and (max-width: 1263px) {
    .top--chair{
        .chair--img_container{
            display: flex;
            flex-direction: column;

            #hoverImg{
               display: none;
            }
                
        }
    }
}